.header {
  background-image: url("../images/background-nav3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 25px #00000029;
  .hamburger-menu {
    padding: 10px;
    font-size: 3rem;
    border: none;
    &:active {
      opacity: 0.6;
    }
  }
  .logo {
    img {
      height: 6rem;
    }
  }
  .nav-link {
    color: #08A6E4;
    font: 400 1.5rem "Lato";
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 0.5rem;
  }
  .nav-item {
    padding: 1rem;
    a {
      font: 400 1.8rem "Lato";
      opacity: 1;
      text-decoration: none;
      list-style-type: none;
    }
  }
}

#mainMenu {
  ul {
    li {
      &:hover {
        border-bottom: 1px solid $accentColor;
        a {
          color: $accentColor;
        }
      }
      a {
        color: $menuTextColor;
        font: 700 1.5rem "Lato";
        span {
          color: $accentColor;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}

.fa-shopping-basket {
  font-size: 2rem;
  font-weight: bold;
  color: $menuTextColor;
  &:hover {
    color: $accentColor;
  }
}

.fa-history {
  font-size: 2rem;
  font-weight: bold;
  color: $menuTextColor;
  &:hover {
    color: $accentColor;
  }
}

.dropdown-header {
  font: 400 2rem "Lato";
  background: navy;
  margin-top: 0.8rem;
}


.dropdown-menu {
  width: 25rem;
  height: 25rem;
  background: navy;
  left: 0;
  top: 7.5rem;
  border: none;
  box-shadow: 0 5px 25px #00000029;
}

.dropdown-item {
  padding: 1rem;
  letter-spacing: 0.2rem;
  background: red;
}

.carousel {
  background-image: url("../images/poem-bg.jpg");
  background-size: cover;
}


.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70rem;
  .left-arrow, .right-arrow {
    display: inline-block;
    font-size: 4rem;
    cursor: pointer;
    color: $menuTextColor;
    z-index: 5;
    margin: 3rem;
    &:hover {
      color: $accentColor;
    }
  }
  ul {
    list-style: none;
    .visible-poem {
      display: block;
    }
    li {
      display: none;
      text-align: center;
      .first-poem {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font: 400 3.5rem 'Lobster';
          color: $menuTextColor;
          letter-spacing: 0.2rem;
        }
      }
      .second-poem {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font: 400 3rem 'Lobster';
          color: $menuTextColor;
          letter-spacing: 0.2rem;

        }
      }
      .third-poem {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font: 400 3rem 'Lobster';
          color: $menuTextColor;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}

.promo-section-first {
  background-image: url("../images/section1.jpg");
  background-size: cover;
  height: 60rem;
  text-align: right;
  float: right;
  padding: 3rem;
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.promo-btn {
  width: 30%;
  height: 5rem;
  background: $accentColor;
  font: 700 2rem "Lato";
  letter-spacing: 0.2rem;
  color: $menuTextColor;
  border: none;
  border-radius: 50px;
  margin: 3rem;
  &:hover {
    box-shadow: inset 0 1px 20px 1px rgba(0,0,0,0.5);
  }
}

.promo-section-info {
  font: 700 3.5rem "Dancing Script";
  color: $menuTextColor;
  letter-spacing: 0.2rem;
  margin: 3rem;
}
.promo-section-second {
  background-image: url("../images/section2.jpg");
  background-size: cover;
  text-align: right;
  float: right;
  padding: 3rem;
  height: 60rem;
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.promo-section-third {
  background-image: url("../images/section3.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60rem;
  .promo-btn {
    width:80%;
  }
}


.footer {
  .footer-content {
    background: $footerColor;
    box-shadow: 0px -5px 40px #00000029;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: inherit;
      height: 25rem;
      .menu-footer {
        ul {
          li {
            display: inline;
            font: 700 1rem "Lato"
          }
        }
      }
    }
    .socials-logo {
      font-size: 3.5rem;
      font-weight: bold;
      padding: 2.5rem;
      .fa-twitter {
        color: #00acee;
      }
      .fa-facebook {
        color: #39569c;
        margin-left: 2.5rem;
      }
      .fa-youtube {
        color: #ff0000;
        margin-left: 2.5rem;
      }
    }
    .menu-footer {
      ul {
        li {
          @media screen and (max-width: 768px) {
            display: block;
            a {
              font: 700 1rem "Lato";
            }
          }
          padding: 0.8rem;
          a {
            font: 700 1.5rem "Lato";
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            &:hover {
              color: $accentColor;
            }
            span {
              color: $accentColor;
            }
          }
        }
      }
      p {
        color: grey;
        font: 400 1.2rem "Lato";
      }
    }
    .logo-footer {
      img {
        height: 10rem;
        @media screen and (max-width: 768px) {
          margin-top: 2rem;
        }
        &:hover {
          box-shadow: inset 0 1px 20px 1px rgba(0,0,0,0.5);
        }
      }
    }
  }
}

