.product {
  background: white;
  border: 1px solid black;
  display: flex;
  align-items: center;

  .product-info {
    background: white;
    .prod-generaly-title {
      font: 700 2.5rem "Lato";
      color: $mainTextColor;
      margin-bottom: 2rem;
    }
    .product-title {
      font: 700 2rem "Lato";
      color: $mainTextColor;
      margin-bottom: 1.5rem;
    }
    .product-index {
      font: 400 2rem "Lato";
      color: $mainTextColor;
      margin-bottom: 1.5rem;
    }
    .product-description {
      font: 400 1.5rem "Lato";
      color: $mainTextColor;
      margin-bottom: 1.5rem;
    }
    h4 {
      font: 700 1.8rem "Lato";
      color: $mainTextColor;
      margin-bottom: 1.5rem;
    }
  }
}

.image-content {
  padding: 1.5rem;
  height: 500px;
  width: 40%;
  img {
    width: 90%;
    height: 100%;
  }
}
.product-info {
  width: 60%;
}

.quantity {
  font: 700 1.8rem "Lato";
  color: $mainTextColor;
}

.clothes-sizer {
  font: 700 1.8rem "Lato";
  color: $mainTextColor;
}

.shoe-sizer {
  font: 700 1.8rem "Lato";
  color: $mainTextColor;
}

.basket-btn {
  font: 700 1.8rem "Lato";
  color: $mainTextColor;
  background: $accentColor;
  border: none;
  width: 20rem;
  height: 5rem;
  border-radius: 50px;
}
.product-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    justify-content: center;
  }
  .image-content {
    width: 90%;
  }
  .product-info {
    width: 90%;
  }
}
