.section-products {
  padding: 1rem;
  background: $footerColor;
  .main-title {
    text-align: center;
    font: 700 3rem "Lato";
    color: black;
    padding: 4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background-image: url("../images/products-title-bg.jpg");
    background-size: cover;
  }
  .main-products {
    display: inline-block;
    &:hover {
      cursor: pointer;
      opacity: 0.65;
    }
  }
  .products-item {
    background: white;
    padding: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
      text-decoration: none;
      color: $mainTextColor;
    }
    .image-div {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      height: 500px;
      width: 100%;
      img {
        width: 90%;
        height: 90%;
      }
    }
  }
  .products-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font: 700 2rem "Lato";
      margin-top: 1rem;
    }
    h4 {
      font: 400 1.5rem "Lato";
      margin-top: 1rem;
    }
    h3 {
      font: 400 1.5rem "Lato";
      margin-top: 0.5rem
    }
    p {
      font: 700 1.5rem "Lato"
    }
  }
}