.registration-main {
  background: $backgroundColor;
}

.registration-content {
  background: $backgroundContentColor;
  height: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.registration-div {
  width: 80%;
  height: 80%;
  border: 1px solid black;
  background: $footerColor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .person-data {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      display: block;
      padding:2rem;
    }
    .address-form {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      display: block;
      padding: 2rem;
    }
    .name-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }
    .surname-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }
    .email-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }
    .login-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }
    .password-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }

    .street-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }
    .code-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }
    .city-input {
      height: 3rem;
      border: 2px solid $accentColor;
      display: block;
    }
    #name {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      margin-top: 1.5rem;
      span {
        color: $accentColor;
      }
    }
    #surname {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      margin-top: 1.5rem;
      span {
        color: $accentColor;
      }
    }
    #email {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      margin-top: 1.5rem;
      span {
        color: $accentColor;
      }
    }
    #login {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      margin-top: 1.5rem;
      span {
        color: $accentColor;
      }
    }
    #password {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      margin-top: 1.5rem;
      span {
        color: $accentColor;
      }
    }
    #street {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      span {
        color: $accentColor;
      }
    }
    #code {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      margin-top: 1.5rem;
      span {
        color: $accentColor;
      }
    }
    #city {
      font: 700 2rem "Lato";
      letter-spacing: 0.3rem;
      color: $mainTextColor;
      margin-top: 1.5rem;
      span {
        color: $accentColor;
      }
    }
  }
}

.registration-btn {
  width: 100%;
  height: 5rem;
  background: $accentColor;
  font: 700 2rem "Lato";
  letter-spacing: 0.2rem;
  color: $menuTextColor;
  border: none;
  border-radius: 50px;
  margin-top: 5rem;
}

.reg-errors {
  margin-top: 3rem;
  font: 400 2rem "Lato";
  color: $accentColor;
}