.summary-cart-description {
  height: 50px;
  padding: 2rem;
  background: $backgroundContentColor;
  letter-spacing: 0.3rem;
  text-align: center;
  font: 700 2.5rem "Lato";
  color: $mainTextColor;
  margin-bottom: 2rem;
  span {
    color: $accentColor;
  }
}

.basket-main {
  background: $backgroundContentColor;
}

.continue-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 2.5rem;
  border: none;
  width: 30rem;
  height: 2.5rem;
  color: $accentColor;
  background: $backgroundContentColor;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.summary-cart {
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.image-basket {
  padding: 1.5rem;
  height: 250px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.basket-info {
  background: $backgroundContentColor;
  .prod-generaly-title {
    font: 700 1.8rem "Lato";
    color: $mainTextColor;
    margin-bottom: 2rem;
  }
  .product-title {
    font: 700 1.5rem "Lato";
    color: $mainTextColor;
    margin-bottom: 1.5rem;
  }
  .product-index {
    font: 400 1.5rem "Lato";
    color: $mainTextColor;
    margin-bottom: 1.5rem;
  }
}

.trash-btn {
  border: none;
  .fa-trash-alt {
    font-size: 3.5rem;
    font-weight: bold;
    color: $accentColor;
  }
}

.product-cost {
  font: 700 2rem "Lato";
  color: $mainTextColor;
}


.total-price-content {
  height: 100px;
  background-color: $backgroundContentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  .price-description {
    font: 700 2.7rem "Lato";
    color: $mainTextColor
  }

  .total-price {
    font: 700 2.7rem "Lato";
    color: $mainTextColor
  }
}

.payment {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $backgroundContentColor;
  .payment-btn {
    width: 30%;
    height: 5rem;
    background: $accentColor;
    font: 400 2rem "Lato";
    color: $menuTextColor;
    border: none;
    border-radius: 50px;
    &:hover {
      box-shadow: inset 0 1px 20px 1px rgba(0,0,0,0.5);
    }
  }
}

.size-div {
  font: 700 1.5rem "Lato";
  color: $mainTextColor;
}

#number-input {
  height: 2rem;
  border: 1px solid $accentColor;
  font: 700 1.7rem "Lato";
  color: $mainTextColor;
}

.empty-text {
  font: 400 3rem "Lato";
  color: $accentColor;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .summary-cart {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65rem;
  }
  .image-basket {
    width: 50%;
    height: 50%;
  }
  .basket-info {
    width: 70%;
  }
  .trash-btn {
    margin-top: 1.5rem;
  }
  #number-input {
    margin-top: 1rem;
  }
  .size-div {
    margin-top: 1rem;
  }
}